title{
    font: color #5e6572;
}
body{
    background-color: #a9b4c2;
    font-color: #1c2321;
}
menuSidebar{
    background-color: #eef1ef;
    font-color: #7D98A1;
}
bioSidebar{
    background-color: #eef1ef;
    font-color: #7D98A1;
}
commentSideBar{
    background-color: #eef1ef;
    font-color: #7D98A1;
}