body{
    background-color: #a9b4c2;
    color: #1c2321;
}

.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
    font-family: 'Armata', sans-serif;
    font-size: 60px;
}

h2{
    text-align: center;
}

/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    background-color: #eef1ef;
    font-family: 'Share', cursive;
    font-size: 30px;
    color: #7D98A1;
    border-style: solid;
    padding: 20px;
    width:15%;
    height: 400px;
}

/* Left and right column */
.column.side {
    width: 20%;
    padding: 10px;
    height: 500px;
    text-align: center;
}
.column.sideR {
    width: 20%;
    text-align: center;
    overflow: scroll;
}
/* Middle column */
.column.middle {
    width: 50%;
    height: 2200px;
    text-align: auto;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

img{
    height:150px;
}
.column.low {
    width: 20%;
    text-align: center;
    font-size: 30px;
    overflow: scroll;
}
th{
    padding: 5px;
    text-decoration: underline;
 }
 tr{
    font-size: 12px;
 }