h1{
    font: color #5e6572;
    font-family: 'Armata', sans-serif;
    text-align: center;
    font-size: 60px;
}

h2{
    text-align: Left;
}
body{
    background-color: #a9b4c2;
    color: #1c2321;
}
.sidebar-main{
    background-color: #eef1ef;
    font-family: 'Share', cursive;
    font-size: 30px;
    color: #7D98A1;
    border-style: solid;
    padding: 20px;
    width:15%;
    height: 800px;
    margin: center-left;
    margin: 20px;
    text-align: left;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.sidebar-bio{
    background-color: #eef1ef;
    font-size: 30px;
    font-family: 'Share', cursive;
    color: #7D98A1;
    border-style: solid;
    padding: 20px;
    width:15%;
    height: 300px;
    margin: right;
    margin: 20px;
    text-align: left;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: relative;
    left: 1200px;
    top: -870px;
}
.sidebar-comment{
    background-color: #eef1ef;
    font-size: 30px;
    font-family: 'Share', cursive;
    color: #7D98A1;
    border-style: solid;
    padding: 20px;
    width:15%;
    height: 400px;
    margin: right;
    margin: 20px;
    text-align: center;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: relative;
    left: 1200px;
    top: -1570px;
}
.main-post{
    background-color: #eef1ef;
    font-size: 30px;
    font-family: 'Share', cursive;
    color: #7D98A1;
    border-style: solid;
    padding: 20px;
    width:45%;
    height: 800px;
    margin: center;
    margin: 20px;
    text-align: left;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: relative;
    left: 400px;
    top: -1230px;
}
footer{
    text-align:center;
    position: fixed;

}

ul{
    list-style: none;
}

