h1{
    font: color #5e6572;
    font-family: 'Armata', sans-serif;
    text-align: center;
    font-size: 48px;
    text-decoration: underline;
}
body{
    background-color: #a9b4c2;
    color: #1c2321;
}
.sidebar-main{
    background-color: #eef1ef;
    font-family: 'Share', cursive;
    font-size: 30px;
    color: #7D98A1;
    border-style: solid;
    padding: 20px;
    width:15%;
    height: 800px;
    margin: 20px;
    text-align: auto;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
a{
    text-decoration: none;
}
.sidebar-bio{
    background-color: #eef1ef;
    font-size: 30px;
    font-family: 'Share', cursive;
    color: #7D98A1;
    border-style: solid;
    padding: 20px;
    width:15%;
    height: 200px;
    margin: 20px;
    text-align: auto;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: relative;
    left: 1050px;
    top: -870px;
    height: px;
}
.sidebar-comment{
    background-color: #eef1ef;
    font-size: 30px;
    font-family: 'Share', cursive;
    color: #7D98A1;
    border-style: solid;
    padding: 20px;
    width:15%;
    height: 500px;
    margin: right;
    margin: 20px;
    text-align: center;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: relative;
    left: 1050px;
    top: -870px;
}
img{
    height: 65px;
}
footer{
    text-align:center;
}
ul{
    list-style: none;
}