h1{
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-style: solid;
    padding: 30px;
    margin-left: 0;
}
body{
    background-color: #dabf26;
    color: #1c2321;
}
p{
    font-family: 'Poiret One', cursive;
}
ul{
    list-style: none;
}
.a1{
    color: white;
    text-decoration: none;
}
.sidebar-main{
    background-color: #575757;
    color: rgb(180, 180, 180);
    border-style: solid;
    border-color: #000000;
    margin-right: 900px;
    height: 100%;
    width: 160px;
    position: fixed;
    left: 0;
    font-size: 25px;
    margin-left: 0px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 38px;
}
.sidebar-bio{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-color: black;
    right: 0;
    margin-left: 1200px;
}
.sidebar-comment{
    background-color: #eef1ef;
    color: #7D98A1;
    border-style: solid;
}