h1{
    color: #494e57;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: #a9b4c2;
    color: #1c2321;
}
p{
    font-family: 'Poiret One', cursive;
}
ul{
    list-style: none;
}
.sidebar-main{
    background-color: #5f5f5f;
    color: rgb(255, 255, 255);
    border-style: solid;
    border-color: black;
    margin-right: 900px;
    height: 100%;
    width: 160px;
    position: fixed;
    left: 0;
    font-size: 25px;
    margin-left: 0px;
    text-align: left;
}
.sidebar-bio{
    background-color: 5f5f5f;
    color: #7D98A1;
    border-style: solid;
    border-color: black;
}
.sidebar-comment{
    background-color: #eef1ef;
    color: #7D98A1;
    border-style: solid;
}